<%= stylesheet_link_tag 'category' %>

<%= render partial: 'shared/navbar' %>

<%= render_flash_messages %>

<div class="groups-index">
  <% if @groups.any? %>
    <% total_sum = @groups.map { |group| group.operations.sum(:amount) }.sum %>
    <p class="total-sum">  <%= number_to_currency(total_sum) %> </p>
    
    <% @groups.each do |group| %>
      <div class="group">

      <% if !Rails.env.test? && group.icon.present? %>
        <%= link_to user_group_path(user_id: group.author, id: group), class: "custom-link" do %>
          <%= image_tag "group_icons/#{group.icon}", class: "icon-image", alt: 'logo' %>
        <% end %>
      <%end%>

        <%= link_to group.name, user_group_path(user_id: group.author, id: group), class: "group-link" %>

        <p class="amount"> $ <%= group.sum_amount() %> </p>
        <%= button_to "Delete", user_group_path(@current_user, group), method: :delete, class: "btn-delete" %>
      </div>
    <% end %>
  <% else %>
    <p class="txt-content">There are no groups yet</p>
  <% end %>

  <div class="add-group-btn">
    <div class="center">
      <%= link_to "Add new group", new_user_group_path(current_user), class: "group-indx-add" %>
    </div>
  </div>
</div>
