<%= render partial: 'shared/navbar' %>

<div class="header-transaction">
<h1>Transactions</h1>
<%= button_to "back", user_groups_path(current_user), :method => :get %>
<h2><%= @group.name %></h2>
</div>

<div class="amount">
<p> $<%= @group.sum_amount() %> </p>
</div>

<div class="groups-index">
<% if @group.operations.any? %>
  <% @group.recent_operations().each do |operation| %>
  <div class="group">
    <div class="transaction">
      <p class="transaction-name"><%= operation.name %></p>
      <p class="transaction-amount"><%= operation.amount %></p>
    </div>
  </div>
  <% end %>
<% else %>
  <p>There are no transactions yet.</p>
<% end %>

<div class="add-transaction-btn">
  <div class="center">
    <%= link_to "Add new transaction", new_user_group_operation_path(current_user, @group), class: "transaction-indx-add" %>
</div>
</div>

