
<%= stylesheet_link_tag 'forms' %>

<div class="form-registration">



<h2>Add new transaction</h2>

<div class="form-cont">


<%= form_with(model: [current_user, @group, Operation.new], url: user_group_operations_path(current_user, group_id: @group.id), data: { turbo: "false" }) do |form| %>
 
  
  <div class="field">
    <%= form.text_field :name, placeholder: "Name", class: "form-input" %>
  </div>
  
  <div class="field">
        <%= form.text_field :amount, placeholder: "amount", type: :number, step: "any" %>
  </div>

  <div class="field ">
    <%= form.collection_select(:group_id, Group.all, :id, :name, { include_blank: "Select group" }, { class: "form-input-collection", required: true }) %>

  </div>  

  <%= form.submit 'Save', class: "submit-button" %>
<% end %>


<%= link_to user_group_path(current_user,  @group), method: :get, class: 'back-button' do %>
  <i class='fas fa-arrow-left'></i> 
<% end %>

</div>
</div>