<%= form_with(model: [current_user, @group, Operation.new], url: user_group_operations_path(current_user, group_id: @group.id), data: { turbo: "false" }) do |form| %>
 
  
  <div class="field">
    <%= form.text_field :name, placeholder: "Name", class: "form-input" %>
  </div>
  
  <div class="field">
        <%= form.text_field :amount, placeholder: "amount", type: :number, step: "any" %>
  </div>

  <div class="field">
    <%= form.collection_select(:group_id, Group.all, :id, :name, { include_blank: "Select group" }, { class: "form-input", required: true }) %>

  </div>  

  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>

<%= button_to "back", user_group_path(current_user, @group), :method => :get %>